In [1]:
import pandas as pd
import numpy as np

In [2]:
!dir *.csv

 Volume in drive C has no label.
 Volume Serial Number is 2AE6-1E81

 Directory of C:\Users\CSD 21\ML Lab Programs\lab1

13-05-2024  15:26               485 Dataset10.csv
13-05-2024  15:26               197 ENJOYSPORT.csv
               2 File(s)            682 bytes
               0 Dir(s)  46,308,290,560 bytes free

In [3]:
data = pd.read_csv('ENJOYSPORT.csv')
data.head()

     Sky AirTemp Humidity    Wind Water Forecast  EnjoySport
0  Sunny    Warm   Normal  Strong  Warm     Same           1
1  Sunny    Warm     High  Strong  Warm     Same           1
2  Rainy    Cold     High  Strong  Warm   Change           0
3  Sunny    Warm     High  Strong  Cool   Change           1

In [4]:
attribute = np.array(data)[:, :-1]
print(attribute)

[['Sunny' 'Warm' 'Normal' 'Strong' 'Warm' 'Same']
 ['Sunny' 'Warm' 'High' 'Strong' 'Warm' 'Same']
 ['Rainy' 'Cold' 'High' 'Strong' 'Warm' 'Change']
 ['Sunny' 'Warm' 'High' 'Strong' 'Cool' 'Change']]

In [5]:
target = np.array(data)[:, -1]
print(target)

[1 1 0 1]

In [6]:
def train(att, tar):
    for i, val in enumerate(tar):
        if val == 1:
            specific_h = att[i].copy()
            break
    for i, val in enumerate(att):
        if tar[i] == 1:
            for x in range(len(specific_h)):
                if val[x] != specific_h[x]:
                    specific_h[x] = '?'
                else:
                    pass
    return specific_h

print(train(attribute, target))

['Sunny' 'Warm' '?' 'Strong' '?' '?']